* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.content label {
  text-align: left;
  display: block;
}

.content input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}